.showBigImg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.showBigImg > div{
    width: 100%;
    height: 100%;
}
.showBigImg img{
    max-width: 100%;
}
.showBigImg .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 10px;
}
.showBigImg .swiper-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.showBigImg.hide{
    display: none;
}
.showBigImg .swiper-container{
    width: 100%;
    height: 100%;
}
.showBigImg .swiper-container .swiper-wrapper{
    position: absolute;
}