.devicePage{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.devicePage .tit{
	font-size: 18px;
	color: #FFF;
	line-height: 40px;
	padding-top: 20px;
	text-align: center;
}
.devicePage .imgscroll{
	margin: 0 15px;
	border-radius: 14px;
	overflow: hidden;
	box-shadow:  0 5px 10px rgba(0,0,0,.2);
}
.devicePage .imgscroll img{
	width: 100%;
}
.devicePage .adddevicebtn{
	width: 200px;
	height: 200px;
	background: rgba(64,187,220, .9);
	margin:  auto;
	border-radius: 120px;
	display: flex;
	margin-top: 40px;
	align-items: center;
	position: relative;
	justify-content: center;
}
.devicePage .adddevicebtn:before{
	content: "";
	width: 160px;
	height: 160px;
	background: rgba(160, 220, 238, 0.9);
	border-radius: 100px;
	box-shadow:  0px 0px 20px rgba(0,0,0,.1);
}
.devicePage .adddevicebtn span{
	display: flex;
	width: 120px;
	height: 120px;
	background: rgba(230, 245, 249, 0.9);
	border-radius: 80px;
	box-shadow:  0px 0px 20px rgba(0,0,0,.1);
	position: absolute;
	left: 40px;
	top: 40px;
	align-items: center;
	justify-content: center;
}
.devicePage .devicelist{
	padding-top: 30px;
}
.devicePage .devicelist .li{
	padding: 15px 20px;
	background: #FFF;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	box-shadow:  0 5px 10px rgba(0,0,0,.2);
	margin-bottom: 15px;
}
.devicePage .devicelist .li .l,
.devicePage .devicelist .li .r{
	display: flex;
	flex-direction: column;
}
.devicePage .devicelist .li .l{
	justify-content: flex-end;
}
.devicePage .devicelist .li .r{
	text-align: center;
}
.devicePage .devicelist .li .r .value{
	font-size: 30px;
	line-height: 40px;
}
.devicePage .devicelist .li .r .value.warning{
	color: #e32e3c	
}
.devicePage .devicelist .li .l .name{
	font-size: 26px;
}
.devicePage .devicelist .li .r span.color9{
	line-height: 16px;
}
.devicePage .adddevicebtn span:before{
	content: "";
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 1);
	border-radius: 100px;
	box-shadow:  0px 0px 20px rgba(0,0,0,.1);
}
.devicePage .adddevicebtn span .icon{
	font-size: 40px;
	width: 40px;
	height: 40px;
	position: absolute;
	color: #0092cc;
	line-height: 40px;
}
.devicePage .nodevicetext{
	text-align: center;
	color: #FFF;
	font-weight: 100;
	line-height: 20px;
	font-size: 16px;
	padding-top: 20px;
}
.adddevicePage{
	display: flex;
	flex-direction: column;	
}
.adddevicePage .step{
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: scroll;
	justify-content: space-around;
}
.adddevicePage .step .img {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.adddevicePage .step .img img{
	width: 170px;
	margin-top: 30px;
}
.adddevicePage .step .stepname{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFF;
	font-weight: 100;
}
.usedevicePage .step .img{
	padding-top: 30px;
	font-size: 22px;
	color: #999;
}
.usedevicePage .step .img img{
	margin-bottom: 20px;	
}
.adddevicePage .step .stepname span{
	display: block;
	text-align: center;
}
.adddevicePage .step .stepname span.name{
	font-size: 20px;
}
.adddevicePage .step .stepname span.stepnum{
	margin-bottom: 20px;
}
.adddevicePage .step .nextbtn{
	margin-bottom: 30px;
	color: #0070c0;
	font-size: 18px;
	height: 40px;
	width: 140px;
	text-align: center;
	border-radius: 20px;
	background: #FFF;
	line-height: 40px;
}
.usedevicePage{
	background: #FFF;
}
.usedevicePage .step .nextbtn{
	background: #0070c0;
	color: #FFF;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.usedevicePage .step .usingimg img{
	-webkit-animation: spin 1s linear 1s 5 alternate;
    animation: spin 1s linear infinite;
}
.usedevicePage .step .usingimg{
	position: relative;
}
.usedevicePage .step .usingimg .usetime{
	position: absolute;
	left: 78px;
    top: 150px;
	line-height: 40px;
	display: flex;
	text-align: center;
	display: flex;
	flex-direction: column;
	line-height: 30px;
}
.usedevicePage .step .usingimg .usetime span{
	font-weight: 100;
}
.adddevicePage .step >div.usedeviceinfo{
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding-bottom: 40px;
}
.devicesettingPage {
	display: flex;
	flex-direction: column;
}
.devicesettingPage .body{
	flex-grow: 1;
	overflow-y: scroll;
}
.devicesettingPage .body .datalist >div{
	display: flex;
	justify-content: space-between;
	height: 46px;
	border-bottom: 1px solid #EEE;
	align-items: center;
	padding: 0 20px;
	background: #FFF;
}
.devicesettingPage .body .datalist >div .iconfont{
	color: #999;
	font-size: 14px;
}
.recommendedPage .body{
	flex-grow: 1;
	overflow-y: scroll;
}
.recommendedPage .datalist{
	padding: 20px;
}
.recommendedPage .datalist .li{
	background: #FFF;
	margin-bottom: 10px;
	border-radius: 6px;
	padding: 15px;
	padding-top: 0;
}
.recommendedPage .datalist .li .t{
	color: #999;
	line-height: 36px;
}
.recommendedPage .datalist .li .l img{
	width: 100px;
	height: 100px;
	border-radius: 6px;
}
.recommendedPage .datalist .li .info{
	display: flex;
	justify-content: space-between;
}
.recommendedPage .datalist .li .info .r{
	flex-grow: 1;
	padding-left: 10px;
	font-size: 11px;
}
.recommendedPage .datalist .li .info .r .cc{
	color: #999;
	padding: 3px 0;
}
.recommendedPage .datalist .li .info .r .tt{
	font-size: 16px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
}
.recommendedPage .datalist .li .info .r .tt .red{
	font-size: 20px;
	line-height: 20px;
}
.recommendedPage .datalist .li .info .r .address{
	display: flex;
	align-items: center;
	color: #BBB;
}
.recommendedPage .datalist .li .info .r .address .icon{
	font-size: 14px;
	margin-right: 3px;
}
.recommendedPage .datalist .li .info .r .store{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #CCC;
}
.associationPage .nav{
	height: 46px;
	display: flex;
	line-height: 46px;
	align-items: center;
	padding:  0 20px;
	background: #FFF;
	margin-bottom: 10px;
}
.associationPage .nav span{
	margin-right: 20px;
	font-weight: 100;
}
.associationPage .nav span.sel{
	color: #0070c0;
	font-weight: 600;
}
.associationPage .datalist{
	background: #FFF;
}
.associationPage .datalist .li{
	border-bottom: 1px solid #EEE;
	display: flex;
	padding:  0 20px;
	align-items: center;
	justify-content: space-between;
	height: 46px;
	font-size: 16px;
}
.associationPage .datalist .li .icon{
	color: #C00;
	margin-left: 10px;
}
.associationPage .datalist .btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}
.associationPage .datalist .btn span{
	background: #00a0e9;
	color: #FFF;
	height: 40px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	border-radius: 6px;
}
.devicehistorydataPage .nav{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
	background: #FFF;
	margin-bottom: 10px;
}
.devicehistorydataPage{
	overflow: hidden
}
.devicehistorydataPage .nav .search{
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	flex-shrink: 0;
}
.devicehistorydataPage .nav .am-list-item .am-list-line .am-list-content{
	display: none;
}
.devicehistorydataPage .nav>div{
	flex-grow: 1;
	display: flex;
}
.devicehistorydataPage .nav>div.search{
	flex-grow: 0;
}
.devicehistorydataPage .nav>div.search i{
	display: block;
	width: 30px;
	height: 30px;
	background: #0074c3;
	color: #FFF;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
}
.devicehistorydataPage .nav .am-list-item{
	flex-grow: 1;
	padding-left: 5px;
}
.devicehistorydataPage .nav .am-list-item .am-list-line .am-list-extra{
	flex-grow: 1;
	text-align: center;
	font-size: 14px;
	color: #666;
	width: 100px;
}
.devicehistorydataPage .nav .am-list-item .am-list-line .am-list-arrow-horizontal{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 
	margin-right: 10px;
}
.devicehistorydataPage .nav .am-list-item .am-list-line{
	padding-right: 0;
}

/*animation: spin 1s linear infinite;*/













