.billPage{
	display: flex;
	flex-direction: column;
}
.billPage .body{
	flex-grow: 1;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}
.billPage .body .data{
	flex-grow: 1;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}
.billPage .datahead{
	background: #0074c3;
	color: #FFF;
}
.billPage .datahead .allnum{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.billPage .datahead .typsnum{
	display: flex;
}
.billPage .datahead .typsnum >div{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.billPage .datahead .datainfo{
	padding: 15px 0;
}
.billPage .datahead .datainfo .typsnum{
	line-height: 20px;
	font-size: 16px;
	padding: 10px 0;
	font-weight: 100;
}
.billPage .datahead .datainfo .typsnum>div:first-child{
	border-right: 1px solid #95c8ed;
}
.billPage .datahead .datainfo .typsnum>div>span:last-child{
	font-size: 14px;
}
.billPage .datahead  .headlnk{
	background: #0069b4;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}
.billPage .datalist {
	background: #FFF;
	flex-grow: 1;
	overflow-y: scroll;
}
.billPage .listhead{
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 20px;
	font-size: 16px;
	justify-content: space-between;
	background: #EEE;
}
.billPage .datalist .li.month{
	color: #0070c0;
	font-size: 16px;
}
.billPage .datalist .li{
	display: flex;
	justify-content: space-between;
	height: 40px;
	margin: 0 20px;
	border-bottom: 1px solid #EEE;
	align-items: center;
	font-size: 12px;
}
.billPage .datalist .li .l2{
	flex-grow: 1;
}
.billPage .datalist .li .l1{
	width: 50px;
}
.billPage .datalist .li .l3{
	width: 80px;
}
.billPage .datalist .li .l4{
	width: 80px;
}
.billPage .nav{
	display: flex;
	height: 40px;
	margin-bottom: 10px;
	background: #FFF;
	align-items: center;
	justify-content: space-around;
	padding: 0 5px;
}
.billPage .nav span{
	align-self: stretch;
	display: flex;
	align-items: center;
	padding: 0 10px;
	position: relative;
}
.billPage .nav span.sel{
	color: #0070c0;
}
.billPage .nav span.sel:after{
	content:  "";
	height: 2px;
	background: #0070c0;
	display: block;;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.billPage .liinfo{
	background: #EEE;
	padding: 10px;
	border-radius: 6px;
	margin: 0 20px;
	font-size: 12px;
	line-height: 20px;
}












