.orderInfoPage{
	display: flex;
	flex-direction: column;
}
.orderInfoPage .body{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: scroll;
}
.orderInfoFoot{
	height: 50px;
	background: #FFF;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top:1px solid #EEE;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	align-items: center;
}
.orderInfoFoot >div{
	display: flex;
	align-items: center;
}
.orderInfoFoot >div.sublnk{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: #f4f4f4;
	color: #333;
	font-size: 14px;
	line-height: 36px;
	padding: 0 20px;
	height: 36px;
	margin-left: 15px;
	border-radius: 18px;
	font-weight: 200;
	border:1px solid #BBB;
}
.orderInfoPage .address{
	padding-bottom: 20px;
	margin-bottom: 10px;
	display: flex;
	padding: 20px;
	background: #FFF;
	position: relative;
	align-items: center;
	flex-shrink: 0;
}
.orderInfoPage .address .icon{
	flex-shrink: 0;
}
.orderInfoPage .address .icon:first-child{
	margin-right: 5px;
	color: #f39800;
	font-size: 26px;
}
.orderInfoPage .address .icon_xiangyou{
	font-size: 26px;
}
.orderInfoPage .address .i{
	flex-grow: 1;
	margin-right: 10px;
}
.orderInfoPage .address .title{
	color: #0070c0;
	font-size: 16px;
	margin-bottom: 5px;
}

.orderInfoPage .address .text{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.orderInfoPage .address .bg{
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-size: 80px 4px;
}
.orderInfoPage .orderinfo {
	background: #FFF;
	margin-bottom: 10px;
}
.orderInfoPage .orderinfo .title{
	height: 36px;
	border-bottom: 1px solid #EEE;
	padding-left: 20px;
	line-height: 36px;
	display: flex;
	justify-content: space-between;
}
.orderInfoPage .orderinfo .title.bold{
	font-weight: bold;
}

.orderInfoPage .orderinfo .pli{
	display: flex;
	padding: 15px;
	border-bottom:1px solid #EEE;
}
.orderInfoPage .orderinfo .pli .img{
	width: 80px;
	flex-shrink: 0;
	margin-right: 10px;
}
.orderInfoPage .orderinfo .pli .img img{
	width: 100%;
	border-radius: 3px;
}
.orderInfoPage .orderinfo .pli .orderinfo{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.orderInfoPage .orderinfo .pli .orderinfo .name{
	font-size: 14px;
}
.orderInfoPage .orderinfo .pli .orderinfo .info{
	flex-grow: 1;
	justify-content: flex-start;
	color: #999;
	font-size: 12px;
}
.orderInfoPage .orderinfo .pli .orderinfo .info p{
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 12px;
}
.orderInfoPage .orderinfo .pli .orderinfo .price{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}
.orderInfoPage .orderinfo .canshu .li{
	padding: 0 20px;
	height: 40px;
	border-bottom: 1px solid #EEE;
	display: flex;
	justify-content: space-between;
}
.orderInfoPage .orderinfo .canshu .li >div{
	display: flex;
	align-items: center;
}
.orderInfoPage .orderinfo .canshu .li .addtools{
	display: flex;
	align-items: center;
}
.orderInfoPage .orderinfo .canshu .li .addtools .del,
.orderInfoPage .orderinfo .canshu .li .addtools .add{
	width: 30px;
	height: 30px;
	background: #EEE;
	border:1px solid #DDD;
	display: flex;
	align-items: center;
	justify-content: center;
}
.orderInfoPage .orderinfo .canshu .li .addtools input{
	background: none;
	border-radius: none;
	height: 40px;
	text-align: center;
	line-height: 30px;
	width: 30px;
	border:none;
}
.orderInfoPage .orderinfo .canshu .li .liuyan{
	flex-grow: 1;
}
.orderInfoPage .orderinfo .canshu .li .liuyan input{
	background: none;
	border-radius: none;
	height: 40px;
	text-align: center;
	line-height: 30px;
	border:none;
	flex-grow: 1;
	text-align: right;
}
.orderInfoPage .orderinfo .heji {
	height: 40px;
	padding: 0 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.orderInfoPage .orderinfo .heji span:first-child{
	margin-right: 15px;
}

.orderInfoPage .orderinfo .lnk{
	display: flex;
	justify-content: space-around;
	height: 60px;
}
.orderInfoPage .orderinfo .lnk >div{
	color: #0074c3;
	display: flex;
	line-height: 60px;
	align-items: center;
	font-weight: 100;
	font-size: 18px;
}
.orderInfoPage .orderinfo .lnk >div i{
	margin-right: 5px;
	font-size: 20px;
}
.orderInfoPage .orderinfobox{
	padding-bottom: 60px;
}





