.body{
	background: #f4f4f4;
}
.head{
	background: #0074c3;
	display: flex;
	height: 70px;
	justify-content: center;
	padding: 15px 20px 0 20px;
	align-items: center;
	position: relative;
	flex-shrink: 0;
}
.head .title{
	font-size: 18px;
	color: #FFF;
	font-weight: 100;
}
.head .city{
	color: #FFF;
	font-size: 16px;
}
.head .rightlnk,.head .leftlnk{
	position: absolute;
	height: 55;
	display: block;
	line-height: 55px;
	color: #FFF;
	font-size: 16px;
}
.head .rightlnk {
	right: 20px;
	top:15px;

}
.head .leftlnk {
	left: 20px;
	top:15px;
}
.head .rightlnk .addPost{
	color: #FFF;
	font-size: 16px;
}
.head .back{
	color: #FFF;
}


.devicehead{
	display: flex;
	height: 70px;
	justify-content: center;
	padding: 15px 20px 0 20px;
	align-items: center;
	position: relative;
	flex-shrink: 0;
}
.devicehead .title{
	font-size: 18px;
	color: #FFF;
	font-weight: 100;
}
.devicehead .city{
	color: #FFF;
	font-size: 16px;
}
.devicehead .rightlnk,.head .leftlnk{
	position: absolute;
	height: 55;
	display: block;
	line-height: 55px;
	color: #FFF;
	font-size: 16px;
}
.devicehead .rightlnk {
	right: 20px;
	top:15px;

}
.devicehead .leftlnk {
	left: 20px;
	top: 32px;
	position: absolute;
	left: 20px;
}
.devicehead .rightlnk .addPost{
	color: #FFF;
	font-size: 16px;
}
.devicehead .back{
	color: #FFF;
}

.footContainer .iconfont{
	font-size: 20px;
	line-height: 24px;
}
.red{
	color: #C00;
}
.warning{
	color: #f39800;
}
.colorLnk{
	color: #0074c3
}
.color8{
	color: #888;
}
.color9{
	color: #999;
}
.colorD{
	color: #DDD;
}
.colorE{
	color: #EEE;
}
.f18{
	font-size: 18px;
}
.f20{
	font-size: 20px;
}
.f22{
	font-size: 22px;
}
.subbtn {
	background: #0074c3;
	color: #FFF;
}
.devicebg{
	background: url("./img/devicebg.png") repeat-x left top;
	background-size: auto 100%;
}
.usedevicehead .rightlnk, 
.usedevicehead .title, 
.usedevicehead .leftlnk,
.usedevicehead .back{
	color: #333;
}






















